
.youtube-wrapper {
  display: grid;
  position: relative;
	padding-bottom: 56.25%; /* 16:9 */
  margin-bottom: 60px;
	height: 0;
}

.youtube-player {
  position: absolute;
  grid-area: 1/1;
  padding-top: 60px;
	margin-top: 0;
	margin-left: 0;
	width: 100vw;
	height: calc(100vw/1.77)
}

.details__container {

}

.details__lower-info {
  width: 90%;
  margin: 0 auto;
  min-height: 30vh;
  color: white;
}

.details__title {
  font-size: 2rem;
  color: white;
  text-align: left;
  padding: 12px 0;
}

.details__release-date {
  padding: 5px 0 10px;
}

.details__overview {
  line-height: 1.2;
}
