
#player {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 31vh;
  width: 100vw;
}

.details__container {

}

.details__lower-info {
  width: 90%;
  margin: 0 auto;
  min-height: 30vh;
  color: white;
}

.details__title {
  font-size: 2rem;
  color: white;
  text-align: left;
  padding: 12px 0;
}

.details__release-date {
  padding: 5px 0 10px;
}

.details__overview {
  line-height: 1.2;
}
