
.youtube-player {
  position: absolute;
  grid-area: 1/1;
  padding-top: 60px;
	margin-top: 0;
	margin-left: 0;
	width: 100vw;
  max-width: 850px;
	height: calc(100vw/1.77);
  max-height: calc(850px/1.77);
}

.details__overview {
  font-size: .9em;
  line-height: 1.2;
  text-align: justify;
  text-align-last: center;
  width: 90%;
  margin: 0 auto;
  color: #333;
}

.hidden-button {
  border: none !important;
  padding: 0 !important;
  background: transparent !important;
  outline: 0;
}

.url-copy-button {
  z-index: 50;
  position: relative;
  background: #00AFAB;
  border: 1px solid #00AFAB;
  height: 50px;
  width: 100px;
  max-width: 200px;
  color: white;
}

.copy-checkmark {
  opacity: 0;
  position: absolute;
  text-transform: capitalize;
  font-size: 1.2em;
  width: 100px;
  height: 50px;
  color: #01D277;
}

.copy-checkmark span {
  font-size: 1.6em;
}

#page-url {
  /* maybe make this a temp div in the future */
  font-size: 20px !important;
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.profile-container {
  height: 100%;
}

.profile-container img {
  height: 100px;
}

.profile-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1em;
}

.actor-name {
  color: #00AFAB;
  font-size: 1.4em;
}

.actor-character {
  margin-top: .5em;
}

.pbutton {
  background: #00AFAB;
  height: 60px;
  width: 200px;
}
