.app {
  position: relative;
  width: 100vw;
  margin: 0 auto;
  max-width: 850px;
}

.header {
  box-sizing:border-box;
  position: fixed;
  width: 100%;
  max-width: 850px;
  height: 60px;
  font-size: 36px;
  background: black;
  color: red;
  z-index: 500;
}

.header a,
.header a:visited,
.header a:active {
  color: red;
}
