.app {
  position: relative;
  width: 100vw;
  margin: 0 auto;
  max-width: 850px;
}

.header {
  box-sizing:border-box;
  position: fixed;
  width: 100%;
  max-width: 850px;
  height: 60px;
  background: #fff;
  color: #5439FF;
  z-index: 500;
  font-size: 36px;
}
