@import url('https://fonts.googleapis.com/css?family=Questrial|Roboto:300,400,900');

body {
  background: black;
}

.full-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.border {
  border: 1px solid pink;
}
