@import url('https://fonts.googleapis.com/css?family=Questrial|Roboto:300,400,900');

body {
  background: black;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

.full-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.border {
  border: 1px solid pink;
}

.text-shadow {
  text-shadow: 0 4px 6px rgba(255,255,255,.31),
              0 1px 3px rgba(255,255,255,.18);
}

.text-shadow-dark {
  text-shadow: 0 4px 6px rgba(50,50,93,.11),
               0 1px 3px rgba(0,0,0,.08);
}
