.stars__row {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
}

.star {
  stroke: red;
  stroke-width: 4px;
}

.star-outline {
  fill: transparent;
}

.star-full {
  fill: red;
}
