.slick-slide {
  opacity: 0.7;
  transition: transform .75s;
}

.slick-slider {
  margin-top: 5px;
}

.slick-active {
  transform: scale(1.3);
  z-index: 10;
  position: relative;
  opacity: 1;
  -webkit-filter: grayscale(30%);
  filter: grayscale(30%);
}

.slick-track {
  padding: 1.7em 0 1.5em;
}

.slick-list {
  padding-bottom: 20px !important;
}

.hero-container {
  position: relative;
}

.list__random-title {
  position: absolute;
  width: 40%;
  margin: 0 20px;
  top: 20px;
  left: 20px;
  color: white;
  opacity: .9;
  font-size: 1.3em;
  z-index: 200;
}

.list__random-image {
  width: 100%;
  border-radius: 10px;
  -webkit-filter: grayscale(60%);
  filter: grayscale(60%);
}

.list__slider-container {
  display: flex;
  width: fit-content;
  padding-right: 2.5%;
  padding-left: 2.5%;
}

.movie-list-container {
  position: relative;
}

.mlc2 {
  margin-top: 10px;
}

.list__image-poster {
  width: 130px;
  min-width: 130px;
  margin-right: 15px;
}

.list__image-poster img {
  object-fit: contain;
  max-width: 100%;
  border-radius: 10px;
}

.list__section-title {
  text-transform: uppercase;
  color: #333;
  font-size: 1.3em;
  padding: 0px 0 5px 10px;
}

.search__button {
  position: fixed;
  z-index: 2000;
  top: 10px;
  right: 10px;
  height: 50px;
  width: 50px;
}

.search__eyeglass {
  width: 20px;
}
