.person__image-container img {
  /* border: 1px solid lime; */
  max-width: 155px;
  grid-area: image;
}

.person__name-container {
  /* border: 1px solid lime; */
  grid-area: info;
}

.person__name-container h2 {
  font-size: 2em;
  margin-bottom: 10px;
}

.person__age {
  padding-top: 10px;
  margin-bottom: 10px;
}

.person__bio-container {
  /* border: 1px solid orange; */
  grid-area: bio;
}
